    header {
      text-align: center;
      background: url("https://media.giphy.com/media/11ce0E8wJ62q3K/giphy.gif");
      background-size:700px;
      color: white;
      height: 800px;
      Width: 700px;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 80px;
      font-size: 36px;
        padding: 5px;
    }
    img {
      margin: 40px;
      border: 70px solid white;
      border-radius: 20;
    }
    ul {
      padding: 0px;
      background: rgba(0,0,0,0.5);
    }
    li {
      display: inline;
      padding: 0px 10px 0px 10px;
    }
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      li {
        padding: 5px;
        display: block;
      }
    }
