    header {
      text-align: center;
      background-size:700px;
      background-color: #45f442;
      color: white;
      height: 700px;
      Width: 700px;
    }
    .nav {
      color: white;
    }
    h1 {
      font-size: 80px;
      font-size: 36px;
        padding: 5px;
    }
  img {
      margin: 40px;
      border: 70px solid white;
      border-radius: 20;
    }
    ul {
      padding: 0px;
      background: rgba(0,0,0,0.5);
    }
  
    div{
      max-width: 500px;
      padding: 20px;
      margin: 0 auto;
    }
    @media (max-width: 500px) {
      li {
        padding: 5px;
      }
      p {
        font-size: 80;
    }
